@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    @apply text-gray-700 bg-surface;
    margin: 0;
  }
}

@layer components {
  .amount {
    font-variant-numeric: tabular-nums;
    @apply font-semibold text-gray-900;
  }
}
